<h1>Editing page</h1>

<% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= form_for(@page) do |f| %>

	<%= render :partial => 'form', :locals => {:f => f} %>
	 <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>
